app = "asoiafdle"
primary_region = "ams" # TODO: Change to your preferred region

[build]
  dockerfile = "Dockerfile"

[env]
  DATABASE_URL = "sqlite3:/data/asoiafdle.db"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[mounts]]
  source = "asoiafdle_data" # You must create this volume: fly vol create asoiafdle_data
  destination = "/data"
